h1{
    background-color: black;
    color: white;
    text-align: left;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family:cursive;
}

h2{
    background-color: purple;
    color:white;
    text-align: center;
    text-decoration:none;
    font-style: italic;
    padding: 10px;
}

h3{
    background-color: #5AA9F0 ;
    text-align: right ;
    text-decoration: underline;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    font-family: serif;
}